// Modified from CachyOS/cachyos-niri-noctalia,
// etc/skel/.config/niri/cfg/autostart.kdl at commit 8938e953 (GPL-3.0).
// Changed by Recandle on 2026-05-09. See NOTICE and LICENSE.

// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "qs -c noctalia-shell"
    spawn-at-startup "blueman-applet"
