// Modified from CachyOS/cachyos-niri-noctalia,
// etc/skel/.config/niri/cfg/layout.kdl at commit 8938e953 (GPL-3.0).
// Changed by Recandle on 2026-05-09. See NOTICE and LICENSE.

layout {
    gaps 16
    always-center-single-column
    center-focused-column "never"

    background-color "transparent"

    // Hilangkan garis/border biru window aktif
    focus-ring {
        off
    }

    border {
        off
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    struts {}
}